<p>works</p>
<h1>Список пользователей</h1>
<ul>
  <li *ngFor="let user of users">
    <img [src]="user.avatar" [alt]="user.first_name + ' ' + user.last_name" />
    <p>{{ user.first_name }} {{ user.last_name }} (Email: {{ user.email }})</p>
    <button (click)="viewUser(user.id)">Просмотреть</button>
    <button (click)="deleteUser(user.id)">Удалить</button>
  </li>
</ul>

<h1>Список ресурсов</h1>
<ul>
  <li *ngFor="let resource of resources">
    <strong>{{ resource.name }}</strong>
    <br>
    Year: {{ resource.year }}
    <br>
    Color: <span [style.color]="resource.color">{{ resource.color }}</span>
    <br>
    Pantone Value: {{ resource.pantone_value }}
  </li>
</ul>
